<%= render "/layouts/header" %>
<div class="container">
  <h4>会員情報編集</h4>

  <%= form_with model: @customer, method: :patch, url: customers_information_path do |f| %>
    <table>
      <tbody>
        <tr>
          <td>氏名</td>
          <td></td>
          <td><%= f.text_field :first_name %></td>
          <td></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        
        <tr>
          <td>フリガナ</td>
          <td></td>
          <td><%= f.text_field :first_name_kana %></td>
          <td></td>
          <td><%= f.text_field :last_name_kana %></td>
        </tr>
        
        <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td colspan="2"></td>
        </tr>
        
        <tr>
          <td><%= f.label :"郵便番号" %></td>
          <td></td>
          <td><%= f.text_field :post_code %></td>
          <td colspan="2"></td>
        </tr>
        
        <tr>
          <td><%= f.label :"住所" %></td>
          <td></td>
          <td><%= f.text_field :address %></td>
        </tr>
        
        <tr>
          <td><%= f.label :"電話番号" %></td>
          <td></td>
          <td><%= f.text_field :phone_number %></td>
          <td colspan="2"></td>
        </tr>
        
        <div class="actions">
          <tr>
            <td colspan="2"></td>
            <td><%= f.submit "編集内容を保存" ,class: "btn btn-success" %></td>
            <td></td>
            <td><%= link_to "退会する", customers_deactivate_path, class: "btn btn-danger"  %></td>
          </tr>
        </div>
      </tbody>
     </table>
  <% end %>
</div>