<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-3">
      <h3><strong>商品一覧</strong>(全<%= @items.count %>件)</h3>
    </div>
  </div>
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-3">
        <%= image_tag item.get_image(200,200) %></br>
        <%= item.name %></br>
        <%= "¥" + item.price.to_s %>
        </div>
      <% end %>
  </div>
</div>