<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
      <a class="navbar-brand text-dark" href="/"><span>LOGO</span></a>
      <% if customer_signed_in? %>
        <%= "　　ようこそ、" + current_customer.first_name + "さん" %>
      <% end %>
      <button class="navbar-toggler" type="button" >
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to customers_my_page_path, class: 'nav-link text-dark' do %>
                マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to items_path, class: 'nav-link text-dark' do %>
                商品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to cart_items_path, class: "nav-link text-dark" do %>
                カート
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-dark' do %>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to items_path, class: 'nav-link text-dark' do %>
                商品一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
                新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--<nav>-->
<!--  <div class="col-10 clearfix">-->
<!--    <div class="float-right test-box">-->
      <!--< if customer_signed_in? %>-->
<!--        <= search_form_for @q, url: items_path do |f| %>-->
<!--          <= f.search_field :name_cont %>-->
<!--          <= f.button :type => "submit", style: 'border-style: none;' do %>-->
<!--            <i class="fas fa-search"></i>-->
<!--          < end %>-->
<!--        < end %>-->
<!--      < end %>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
